# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# dotenv
.env
.env.*

# SQLite database
db.sqlite3

# Django static and media
staticfiles/
media/

# Logs
*.log

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
